name: Check

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm deps
        run: pnpm install --frozen-lockfile && cd ./ui && pnpm install --frozen-lockfile

      - name: Build assets
        run: pnpm run build
        env:
          REACT_APP_FORMBRICKS_ENV_ID: ${{ secrets.REACT_APP_FORMBRICKS_ENV_ID }}
          REACT_APP_FORMBRICKS_APP_URL: ${{ secrets.REACT_APP_FORMBRICKS_APP_URL }}

      - name: Commit linting
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: ./commitlint.config.cjs

      - name: Code linting
        run: pnpm run lint
        env:
          CI: true

      - name: Dependency check
        run: pnpm run depcheck

      - name: Check typings
        run: pnpm run check:types
