name: Check

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm deps
        run: pnpm install --frozen-lockfile && cd ./ui && pnpm install --frozen-lockfile

      - name: Build assets
        run: pnpm run build
        env:
          VITE_FORMBRICKS_ENV_ID: ${{ secrets.VITE_FORMBRICKS_ENV_ID }}
          VITE_FORMBRICKS_APP_URL: ${{ secrets.VITE_FORMBRICKS_APP_URL }}

      - name: Commit linting
        uses: wagoid/commitlint-github-action@v2

      - name: Code linting
        run: pnpm run lint:check
        env:
          CI: true

      - name: Dependency check
        run: pnpm run depcheck

      - name: Check typings
        run: pnpm run check:types
